
<nav class="navbar is-transparent">
  <div class="container">
    <div class="navbar-brand">
      <h1 class="title is-3"><a class="navbar-item" href="/"><img class="logo" src="/assets/logo-firstaccounting-500px.png" alt="{{ site.title }}"></a></h1> <!-- src 경로 좀 예쁘게 바꿔주세요.. -->
      <div class="navbar-burger burger" data-target="navbarExampleTransparentExample">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>

    <div class="navbar-menu">
      <div class="navbar-end">
        <a class="navbar-item disabled" href="#">자주묻는질문</a>
        <a class="navbar-item disabled" href="#">공지사항</a>
        <div class="navbar-item">
          <a class="button" href="{{ site.latest_release_url }}">내려받기</a>
        </div>
      </div>
    </div>
  </div>
</nav>
