
<nav class="navbar is-transparent">
  <div class="container">
    <div class="navbar-brand">
      <h1 class="title is-3"><a class="navbar-item" href="/"><i class="far fa-file-excel"></i> ! {{ site.title }}</a></h1>
      <div class="navbar-burger burger" data-target="navbarExampleTransparentExample">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>

    <div class="navbar-menu">
      <div class="navbar-end">
        <a class="navbar-item" href="/faqs">자주묻는질문</a>
        <a class="navbar-item" href="/notices">공지사항</a>
        <div class="navbar-item">
          <a class="button" href="{{ site.latest_release_url }}">내려받기</a>
        </div>
      </div>
    </div>
  </div>
</nav>
