---
---

@charset 'utf-8';
@import url(//fonts.googleapis.com/earlyaccess/kopubbatang.css);

* {
	font-family: 'KoPub Batang', serif;
	font-weight: bold;
	color: #000;
	letter-spacing:-1px;
	-webkit-font-smoothing:antialiased;
}

.navbar-brand h1 {
	margin-top: 1rem;
}

.contributors {
	.container {
		border-top: 1px solid #ccc;
		border-bottom: 1px solid #ccc;
		padding: 3rem 0;
	}
}
